<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<table>
  <tr>
    <th>
      <fieldset>
        <legend>HTTP</legend>
        <button (click)="loadUsers()">Load users</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Local Storage</legend>
        <button (click)="loadFromLocalStorage()">Load</button>
        <button (click)="saveToLocalStorage()">Save</button>
        <button (click)="removeFromLocalStorage()">Remove</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Web Socket</legend>
        <button (click)="openWs()">Open</button>
        <button (click)="sendWs()">Send</button>
        <button (click)="closeWs()">Close</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Socket.IO</legend>
        <button (click)="openSocketIo()">Open</button>
        <button (click)="sendSocketIo()">Send</button>
        <button (click)="closeSocketIo()">Close</button>
      </fieldset>
    </th>
  </tr>
  <tr>
    <td>

      <!--    <td style="vertical-align: top; min-width: 300px">-->
      <ul>
        <li *ngFor="let user of users">
          <a href="#" (click)="showRepos(user.id)">{{ user.login }}</a>
        </li>
      </ul>
      <!--    </td>-->

      <!--    <td style="vertical-align: top; min-width: 300px">-->
      <ul>
        <li *ngFor="let repo of repos">
          <a [href]="repo.url">{{repo.name}}</a>
        </li>
      </ul>
      <!--    </td>-->
    </td>


    <td>

    </td>
  </tr>
</table>
