<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<table>
  <tr>
    <th>
      <fieldset>
        <legend>Redux</legend>
        <button (click)="increase(1)">Increase</button>
        <button (click)="decrease(1)">Decrease</button>
        <div>{{counter}} <small style="font-weight: normal">({{updatedAt | date: 'hh:mm:ss'}})</small></div>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>HTTP</legend>
        <button (click)="loadUsers()">Load users</button>
        <button (click)="createUser()">Create user</button>
      </fieldset>
      <ul>
        <li *ngFor="let user of users">
          <a href="#" (click)="showRepos(user.id)">{{ user.id }} {{ user.name }}</a>
        </li>
      </ul>
      <ul>
        <li *ngFor="let repo of repos">
          <a [href]="repo.url">{{repo.name}}</a>
        </li>
      </ul>
    </th>

    <th>
      <fieldset>
        <legend>Progress</legend>
        <button (click)="generate()">Generate</button>
        <div *ngIf="generationResult">
          <div>Progress: {{generationProgress}}%</div>
          <div>Result: {{generationResult}}</div>
        </div>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Local Storage</legend>
        <button (click)="loadFromLocalStorage()">Load</button>
        <button (click)="saveToLocalStorage()">Save</button>
        <button (click)="removeFromLocalStorage()">Remove</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Web Socket</legend>
        <button (click)="openWs()">Open</button>
        <button (click)="sendWs()">Send</button>
        <button (click)="closeWs()">Close</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Socket.IO</legend>
        <button (click)="openSocketIo()">Open</button>
        <button (click)="startServerStream()">Start server stream</button>
        <button (click)="stopServerStream()">Stop server stream</button>
        <button (click)="sendSocketIo()">Send</button>
        <button (click)="closeSocketIo()">Close</button>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>Chat</legend>
        <button (click)="connectChat()">Connect</button>
        <button (click)="sendMessage()">Send message</button>
        <button (click)="disconnectChat()">Disconnect</button>
        <ul *ngIf="!isLoading && !isError">
          <li *ngFor="let message of messages">
            #{{message.id}} {{ message.text }}
          </li>
        </ul>
        <div *ngIf="isLoading">Loading...</div>
        <div *ngIf="isError">Server error</div>
      </fieldset>
    </th>

    <th>
      <fieldset>
        <legend>PupSub</legend>
        <button (click)="sendPubSub()">Send</button>
        <div *ngIf="pubsubResult">
          <div>{{pubsubResult}}</div>
        </div>
      </fieldset>
    </th>
  </tr>

</table>
